{% extends "base.html" %}
{% block content %}
    <div class="container box-shadow" >
    <div class="row">
      <h4>Cadastro Saidas</h4>
      <div class="divider"></div>
    </div>
    <div class="row">

    <form class="col s12" role="form" charset="UTF-8"  action="/cadsaida" method="post">
      <div class="row">

        <div class="input-field col s3">
          <input readonly="readonly" value="{{ form.IDSAID }}" id="IDSAID" name="IDSAID" type="text" class="validate">
          <label for="IDSAID">IDSAID</label>
        </div>

        <div class="input-field col s4">

            <select  id="IDPROD" name="IDPROD" >
                <option value="" disabled {% if form.IDPROD == '' %} selected {% endif%} >Escolha uma opção</option>
                {% for prod in lstprod %}
                <option value="{{ prod[0] }}"
                {% if prod[0]== form.IDPROD %} selected {% endif%}
                >{{ prod[1] }}</option>
                {% endfor %}
            </select>
            <label for="IDPROD">Produto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
          <input id="DTSAID" name="DTSAID" type="text" class="validate"  required minlength="2" maxlength="20" value="{{ form.DTSAID }}">
          <label for="DTSAID" data-error="Preencha o campo Descrição" >DTENTR</label>
        </div>

        <div class="input-field col s3">
          <input id="MARKETPLACE" name="MARKETPLACE" type="text" class="validate"  maxlength="60" value="{{ form.MARKETPLACE }}">
          <label for="MARKETPLACE">MARKETPLACE</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
          <input id="QTD" name="QTD" type="text" class="validate" pattern="[0-9]+([,][0-9]+)?"   onchange="calcular();" value="{{ form.QTD }}">
          <label for="QTD">QTD</label>
        </div>
        <div class="input-field col s2">
          <input id="VLRVENDUN" name="VLRVENDUN" type="text" class="validate" pattern="[0-9]+([,][0-9]+)?"   onchange="calcular();" value="{{ form.VLRVENDUN }}">
          <label for="VLRVENDUN">Vlr Un.</label>
        </div>

        <div class="input-field col s2">
          <input id="VLRVENDTOT" name="VLRVENDTOT" type="text" class="validate" pattern="[0-9]+([,][0-9]+)?"  value="{{ form.VLRVENDTOT }}">
          <label for="VLRVENDTOT">Vlr Total</label>
        </div>
        <div class="input-field col s2">
          <input id="VLRTAXAS" name="VLRTAXAS" type="text" class="validate" pattern="[0-9]+([,][0-9]+)?"   onchange="calcular();" value="{{ form.VLRTAXAS }}">
          <label for="VLRTAXAS">TAXAS</label>
        </div>

        <div class="input-field col s2">
          <input id="VLRTOTSAID" name="VLRTOTSAID" type="text" class="validate" pattern="[0-9]+([,][0-9]+)?"  value="{{ form.VLRTOTSAID }}">
          <label for="VLRTOTSAID">Total Geral</label>
        </div>

      </div>

        <div class="divider"></div>
        <div class="row">
            <div class="col m12">
             <p class="right-align">

               <button class="btn btn-large waves-effect waves-light red lighten-1" type="reset" onClick="window.location.reload();">Cancelar</button>
               <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Gravar</button>
             </p>

            </div>
        </div>

    </form>
    </div>
    </div>
<script type="text/javascript" >

$(document).ready(function(){
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
 });

 function substituiVirgula(valor){
    if (valor.indexOf(",") >= 0) {
        var novoValor = valor.replace(",",".");
        return novoValor;
    } else {
        return valor;
    }
}

function substituiponto(valor){
    if (valor.indexOf(".") >= 0) {
        var novoValor = valor.replace(".",",");
        return novoValor;
    } else {
        return valor;
    }
}


 function calcular() {
    var qtd = Number(substituiVirgula(document.getElementById("QTD").value));
    var vlrun = Number(substituiVirgula(document.getElementById("VLRVENDUN").value));
    var vlrtxt = Number(substituiVirgula(document.getElementById("VLRTAXAS").value));
    var tot = qtd * vlrun;
    var totger = tot+vlrtxt
    $('#VLRVENDTOT').val(substituiponto(String(tot.toFixed(2))));
    $('#VLRTOTSAID').val(substituiponto(String(totger.toFixed(2))));

}

</script>

{% endblock %}